.cars-wrap{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 86px;
    z-index: 11;
}
.cars-wrap-swiper{
    .swiper-container{
        overflow: initial;
    }
    position: relative;
    padding: 0 150px;
    .swiper-button-next ,.swiper-button-prev{
        width: 60px;
        top: 50%;
        margin-top:-50px;
        height: 100px;
        outline: none;
        border-radius: 100px;
        background-color: #fff;
        @include webkit(box-shadow,0 0 18px 0 grba(0,0,0,0.2));
        @include webkit(transition, all .5s ease 0s);
        &.swiper-button-disabled{
            opacity: 1;
        }
        &:hover{
            background-color: $color_main;
        }
    } 
    .swiper-button-prev{
        left: 53px;
        &:after{
            content: "";
            width: 14px;
            height: 14px;
            margin-left: 5px;
            border-top: 3px solid #000;
            border-left: 3px solid #000;
            @include webkit(transform, rotate(-45deg))
        }
        &:hover{
            &:after{
                border-top: 3px solid $color_blur;
                border-left: 3px solid $color_blur;
               
            }
        }
    }
    .swiper-button-next {
        right: 53px;
        &:after{
            content: "";
            width: 14px;
            height: 14px;
            border-top: 3px solid #000;
            border-right: 3px solid #000;
            margin-right: 5px;
            @include webkit(transform, rotate(45deg))
        }
        &:hover{
            &:after{
                border-top: 3px solid $color_blur;
                border-right: 3px solid $color_blur;
               
            }
        }
    }
}
