.cars-item{
    height: 257px;
    background-color: #fff;
    border-radius: 24px;
    margin: auto;
    padding: 30px 30px 0;
    @include webkit(box-shadow,0 0 18px 0 rgba(0, 0, 0, .2));
    @include webkit(box-sizing,border-box);
    header{
        @include clearfix
    }
}
.cars-logo{
    float: left;
    img{
        display: inline-block;
        height: 34px;
        vertical-align: middle;
        line-height: 34px;
        margin-right: 10px;
    }
}
.cars-attr{
    float: right;
    line-height: 34px;
    text-align: right;
    opacity: .5;
    
}
.cars-content{
    position: relative;
    margin: 11px 0 7px;
    @include clearfix;
    img{
        float: right;
        height: 120px;
    }
    .info {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        .cars-number{
            font-size: 18px;
        }
        .cars-electric{
            padding-top: 10px;
            display: inline-block;
            li{
                display: inline-block;
                width: 7px;
                height: 24px;
                margin-right: 3px;
                background-color: #e1e1e1;
                border-radius: 100px;
            }
            @for $i from 1 through 10{
                &.active-li-#{$i}{
                    li:nth-child(-n+#{$i}){ @include webkitA(background,linear-gradient(#17a8fa,#108dd9))}
                }
            }
        }
       
    }
}
.distance {
    margin-left: 5px;
    display: inline-block;
    strong {
        margin: 0 3px;
        font-size: 22px;
    }
    sub {
        position: relative;
        top: -2px;
    }
    sub:first-of-type {
        opacity: .6;
    }
}
.parking{
    position: relative;
    display: block;
    border-top: 1px solid #e1e1e1;
    color: $color_main;
    opacity: .8;
    line-height: 53px;
    &:after{
        content:"";
        position: absolute;
        right: 0;
        top: 50%;
        width: 8px;
        height: 8px;
        margin-top: -8px;
        border-top: 1px solid #d6d7d9;
        border-right: 1px solid #d6d7d9;
        @include webkit(transform, rotate(45deg));
    }
}
.cars-detailed{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top:0 ;
    height: 0;
    @include webkit( transition,all .3s ease 0s);
    .column{
        font-style: 20px;
        color: $color_main;
        padding: 20px 0;
        border-bottom: 1px solid #e1e1e1;
        margin-bottom: 19px;
        .close{
           position: absolute;
           top: 20px;
           right: 30px;
           display: block;
           width: 26px;
           height: 26px;
           &:after,&:before{
               content: "";
               height: 26px;
               position: absolute;
               top: 50%;
               left: 50%;
               margin-top: -13px;
               border-left: 2px solid #e1e1e1;
               cursor: pointer;
           }
           &:after{
               @include webkit(transform,rotate(-45deg))
           }
           &:before{
               @include webkit(transform,rotate(45deg))
           }
        }
    }
    .car-electric-box{
        padding: 15px;
        margin-top: 17px;
        border-radius: 100px;
        background-color: #e1e1e1;
        @include webkit(box-shadow, 0 0 10px 0 grba(0,0,0,.1));
        .e-bg{
            position: relative;
            display: block;
            height: 10px;
            background-color: #fff;
            border-radius: 100px;
        }
        .e-high{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: #0f9cee;
            border-radius: 100px;
            z-index: 11;
        }
    }
    .info{
        color: $color_main;
        font-size: 16px;
        margin: 20px 0;
    }
    .select-car-btn{
        position: absolute;
        left: 50%;
        bottom: -42px;
        margin-left: -120px;
    }
    .cars-type-list{
        li{
            height: 43px;
            background-color: #f3f3f3;
            border-radius: 10px;
            border-color: #f3f3f3;
            border-style: solid;
            border-width: 2px;
            line-height: 43px;
            padding: 0 20px;
            margin-bottom: 20px;
            cursor: pointer;
        }
        .name{
            float: left;
        }
        .price{
            float: right;
        }
        .checked{
            border-color: #0f9cee;
        }
    }
    .clause{
        height: 30px;
        line-height: 30px;
        .clause-content{
            float: left;
        }
        .choose{
            float: right;
            width: 20px;
            height: 20px;
            background-color: #ccc;
            border-radius: 100px;
            &.current{
                background-color: $color_main;
            }
            &:after{
                content: "";
                display: block;
                width: 6x;
                height: 4px;
                margin:  4px 0 0 4px;
                border-left: 2px solid #fff;
                border-bottom: 2px solid #fff;
                @include webkit(transform,rotate(-45deg))
            }

        }
    }
}