@import './scssConfig.scss';
@import './clearStyle.scss';
@import './ui.scss';

i[class ^=icon]{  //获取类名为icon开头的类标签
   display: inline-block;
   border-radius: 100px;
   background-color: $color_main ;
}
.i-width-44{width: 44px;height: 44px;}
.icon-help{ background-image: url(~@/assets/images/icon/icon-help.png);}
.icon-search{ background-image: url(~@/assets/images/icon/icon-search.png);}
.icon-location{ background-image: url(~@/assets/images/icon/icon-location.png);}
.icon-user{ background-image: url(~@/assets/images/icon/icon-user.png);}

//会员中心的icon
.icon-user-1{ background-image: url(~@/assets/images/icon/icon-help.png);}
.icon-user-2{ background-image: url(~@/assets/images/icon/icon-search.png);}
.icon-user-3{ background-image: url(~@/assets/images/icon/icon-location.png);}
.icon-user-4{ background-image: url(~@/assets/images/icon/icon-user.png);}
.icon-user-5{ background-image: url(~@/assets/images/icon/icon-user.png);}


/**以下都是定义的公共样式部分*/
.f-l{ float: left;}
.f-r{ float: right;}
.fs-24{font-size: 24px;}

.clearfix{
      &:after {
         clear: both;
         content: '.';
         display: block;
         height: 0;
         line-height: 0;
         overflow: hidden;
   }
   *height: 1%;
   }

   .t-a{text-align:center;}


   /*按钮公共样式**/
   .select-car-btn{
      margin: 0 10px;
      display: inline-block;
      line-height: 84px;
      width: 260px;
      height: 84px;
      border-radius: 100px;
      color: #fff;
      text-align: center;
      font-size: 26px;
      font-weight: 300;
      background-color: $color_main ;
  }
  .group-link{
      i{
          width: 40px;
          height: 40px;
          border-radius: 100px;
          margin: 0 16px -10px 0px;
      }
     a{
        position: relative;
        display: block;
        margin: 0 -30px;
        padding: 0 30px;
        height: 64px;
        line-height: 64px;
        color: rgba(255,255,255, .4);
        border-bottom: 1px solid rgba(255,255,255, .4);
     }
     .arrow:after{
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          right: 30px;
          top: 50%;
          margin-top: -5px;
          border-top: 1px solid #fff;
          border-right: 1px solid #fff;
          @include webkit(transform, rotate(45deg));
          @include webkit(box-sizing, border-box);
          opacity: .3;
          
     }
  }