$color_main : #34393f;
@mixin webkit($type,$value) {
    -webkit-#{$type}:$value;
    -ms-#{$type}:$value;
    -o-#{$type}:$value;
    -moz-#{$type}:$value;
    #{$type}:$value;
}

@mixin webkitA($type,$value) {
   #{$type}:$value;
    #{$type}: -webkit-$value;
    #{$type}:-o-$value;
    #{$type}:-moz-$value;
    #{$type}:-ms-$value;
    #{$type}:$value;
}


//清除浮动的样式
@mixin clearfix {
    &:after {
        clear: both;
        content: '.';
        display: block;
        height: 0;
        line-height: 0;
        overflow: hidden;
    }
    *height: 1%;
}