.cars-form-ui{
    .el-input__inner{
        background-color: #202429 !important;
        border:1px solid #202429 !important;
        color: #fff !important;
        &::-webkit-input-placeholder { color: rgba(255,255,255,.3);}
    }
    .el-form-item{
        margin-bottom: 20px;
    }
    .btn-code{
        position: absolute;
        z-index: 2;
        top: 4px;
        right: 4px;
        width: 100px;
        height: 32px;
        border-radius: 5px;
        text-align: center;
        color: #fff;
        outline: none;
        border: none;
        background-color: #34393f;
        cursor: pointer;

    }
    .btn-block{
        display: block;
        width: 100%;
    }
}